.login {
  display: flex;
  background-image: url("./../../public/background.png");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.random {
  display: flex;
  align-items: center;
}
