/* row and column helps in making subsections of the page */
.row {
    padding: 0px;
    display: flex;
}
  
.column {
    flex: 3%;
}

.pageTitle{
    font-family: Raleway;
    font-weight: 400;
    font-size: 40px;
    color: #656565;
    justify-content: center;
    text-align: center;
}

.pageSubTitle{
    font-family: Raleway;
    font-weight: 400;
    font-size: 25px;
    color: 000000;
    justify-content: center;
    text-align:left
}

.placeholderTitle{
    background-color: #F4F5F4;
    border-radius: 20px ;
    border: none;
    width: 800px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    outline: none;
    color: #737B7D;
    cursor: text;
    padding: 0% 0% 0% 1%;
}

.placeholderDescription{
    background-color: #F4F5F4;
    border-radius: 20px ;
    border: none;
    width: 800px;
    height: 320px;
    font-size: 20px;
    text-align: left;
    outline: none;
    color: #737B7D;
    cursor: text;
    padding: 0% 0% 0% 1%;
}

.addButton{
    width: 12rem;
    height: 2rem;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: #fff;
    background-color: #007E8E;
    border-radius: 0.5rem;
    box-shadow: 0 2px #999;
    margin-right: 5%;
    margin-left: auto;  
    margin-bottom: 3%; 
    margin-top: auto; 
}

.addButton:hover {
    background-color: #3daab8
}
  
.addButton:active {
    background-color: #31a5b4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.lectureText {
    color: #007E8E;
    font-size: 20px;
    cursor: pointer;
}

.lectureText:hover {
    color: #51b0bd;
}
  
.dropdown{
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    padding: 1vh 1vw;
    background-color: #f4f5f4;
    border-color: black;
    color: #737B7D;
    width: 300px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.menu-item{
    text-indent: 1vw;
    font-weight: 300;
    font-size: 15px;
    background-color: #F4F5F4;
    color: #737B7D;
    cursor: pointer;
    width: 300px;
    border-radius: 0.5rem;
}

.menu-item:hover{
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.dropdown:hover{
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.titleBox{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    padding-bottom: 1%;
}